/* Descendent Selector  */
/* article p{
    color: blue;
} */
/* Direct Child Selector */ 
 /* article>p{
    color: mediumvioletred;
}  */
 /* article>.child1{ 
     color: mediumvioletred;
}  */
 /* article>main>p{
    color: orange;
}   */
 /* General Sibling Selector(~)  */
  /* article~span{
    color: yellow;
 }  */
 /* article~p{
    color: red;
 } */
 /* Immediate Sibling Selector */
  /* article+div{
    color: red;
  } */